
![data-science](data/images/datascience.jpg)

![hadoop](data/images/hadoop.jpg)

In [3]:
import pandas as pd

d = pd.DataFrame({
    'rate':[0.99,0.11,0.12,0.13]
})
d

   rate
0  0.99
1  0.11
2  0.12
3  0.13

In [4]:
# Get the rental rate column as a string
rate_str = d['rate'].astype("str")

# Split up and expand the column
rate_str_expanded = rate_str.str.split(".", expand=True)

# Assign the columns to film_df
d = d.assign(
    first=rate_str_expanded[0],
    second=rate_str_expanded[1],
)
d

   rate first second
0  0.99     0     99
1  0.11     0     11
2  0.12     0     12
3  0.13     0     13